<div class="container"
      fxLayout="column"
      fxLayoutGap="10px">
 
 
      <div fxFlex>
        <div>
          <h3> Menu</h3>
        </div>
      </div>


  <!--mat-list fxFlex>
    <mat-list-item *ngFor="let dish of dishes">
      <img mat-list-avatar src={{dish.image}} alt={{dish.name}}>
      <h1 mat-line>{{dish.name}}</h1>
      <p mat-line>
        <span>{{dish.description}}</span>
      </p>
    </mat-list-item>
  </mat-list-->



        <div fxFlex>
          <mat-grid-list cols="2" rowHeight="200px">
            <!--mat-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)"-->
             <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
              <img height="200px" src={{dish.image}} alt={{dish.name}}>
              <mat-grid-tile-footer>
                <h1 mat-line>{{dish.name |uppercase }}</h1>
                      <p mat-line>
                        <span>{{dish.description}}</span>
                      </p>
              </mat-grid-tile-footer>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <!--app-dishdetail [dish]="selectedDishes"></app-dishdetail-->
</div>